<template name="awardSingle">
	{{#item classes=awardItemClasses}}
		<div class="award-score {{upvoted}} award-meta">
			<div class="inner">
				<p>{{score}}</p>
				<a href="#" class="up-vote-btn white"></a>
			</div>
		</div>
		<div class="award-text">
			<a class="award-path" href="{{pathFor route='awardPage'}}">
				<a href="#" class="award-username">@{{name}}</a>
				is the <span class="award-name">{{type}}</span> because
				<span>{{message}}</span>
			</a>
		</div>
		<div class="award-date award-meta">
			<div class="inner">
				<p>{{createdOnDate}}, </p>
				<p>{{createdOnYear}}</p>
			</div>
		</div>
	{{/item}}
</template>