<template name="header">
	<header class="header">
		<nav class="main-nav nav">
			{{#toggle classes="menu-toggle top" side="left" state='toggleShelfState' target='.left-shelf'}}
				<div class="bar bar-1"></div>
				<div class="bar bar-2"></div>
				<div class="bar bar-3"></div>
			{{/toggle}}

			{{#toggle classes="menu-toggle top" side="right" state='toggleShelfState' target='.right-shelf'}}
				<div class="bar bar-1"></div>
				<div class="bar bar-2"></div>
				<div class="bar bar-3"></div>
			{{/toggle}}
		</nav>
	</header>

	{{>account}}
</template>