.btn{
	border: 0;
	padding: .25em .5em;
	font-size: .9rem;
	cursor: pointer;
	font-family: $copy;
}

.clear-btn{
	@extend .btn;
	background-color: transparent;
}

.primary-btn{
	@extend .btn;
	padding: .5em;
	background-color: $primary;
	color: white;
	text-align: center;
}

.large-btn{
	@extend .btn;
	font-size: 1.8rem;
	padding: 1rem 2rem;
}

.close-btn{
	@extend .clear-btn;
	color: white;
	position: absolute;
	top: 15px;
	right: 15px;
}

.twitter-login-btn, .facebook-login-btn{
	@extend .btn;
	padding: 1rem;
	display: block;
	width: 100%;
	color: white;

	&.small-btn{
		width: auto;
		margin: 1rem auto;
	}
}

.tweet-this-btn{
	@extend .twitter-login-btn;
	@extend .small-btn;
	text-align: center;
}

.twitter-login-btn{
	background-color: $lightBlue;
}

.facebook-login-btn{
	background-color: $darkBlue;
}

.cta-btn{
	@extend .large-btn;
	color: white;
	position: relative;
	display: block;
	margin: 2rem auto;
	border-bottom: 10px inset fade-out(black, .7);
}

.random-gif-btn{
	@extend .btn;
	display: block;
	width: 80%;
	color: white;
	padding: 1rem;
	margin: .5rem auto;
}

.worst-btn{
	background-color: $red;
}

.best-btn{
	background-color: $orange;
}

.coolest-btn{
	background-color: $darkBlue;
}

.funniest-btn{
	background-color: $green;
}

.weirdest-btn{
	background-color: $purple;
}

.submit-btn{
	@extend .random-gif-btn;
	width: 100%;
	margin: 0;
	font-size: 1.2rem;
}

.up-vote-btn{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&:after{
		position: relative;
		bottom: -5px;
		content: '';
		border-bottom: 12px solid white;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 12px solid transparent;
		transition: all 300ms ease-out;

	}
}