.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 300ms ease-out;
}

.menu-toggle{
	position: fixed;
	right: 20px;
	top: 20px;

	.bar{
		position: relative;
		width: 25px;
		background-color: lighten(black, 25%);
		height: 4px;
		margin-bottom: 4px;
		border-radius: 1px;
		transition: background 600ms ease-out;
	}

	&.active{
		.bar{
			background-color: white;
		}
	}
}

.header-link{
	float: right;
	color: white;
	font-size: .9rem;
	line-height: 2rem;
	margin-right: 1rem;
	text-decoration: none;
}

.application.with-account{
	.menu-toggle{
		.bar{
			background-color: $red;
		}
	}
}

.account{
	position: fixed;
	width: 200px;
	height: 100%;
	right: -300px;
	background-color: lighten(black, 20%);

	a{
		width: 100%;
		display: block;
		padding: .5rem;
		background-color: white;
		margin-bottom: 5px;
		text-align: center;
		line-height: 1.8rem;
	}
}

.account-nav{
	margin-top: 4rem;
}

.nav-link{
	border-left: 5px solid white;
	&.best-link{
		color: $orange;
		border-color: $orange;
	}
	&.worst-link{
		color: $red;
		border-color: $red;
	}
	&.funniest-link{
		color: $green;
		border-color: $green;
	}
	&.coolest-link{
		color: $darkBlue;
		border-color: $darkBlue;
	}
	&.weirdest-link{
		color: $purple;
		border-color: $purple;
	}

	&.about-link{
		background-color: $darkBlue;
		color: white;
		border: 0;
		margin-top: 3rem;
	}
}

.dashboard-link{
	color: $orange;
}

.logout-link{
	color: $red;
}

.award-nav{
	margin-top: 3rem;
}