.white{
	color: white;
}

.best{
	color: $orange;
}

.worst{
	color: $red;
}

.funniest{
	color: $green;
}

.coolest{
	color: $darkBlue;
}

.weirdest{
	color: $purple;
}

.no-margin{
	margin: 0;
}

.t-a-center{
	text-align: center;
}