<template name="notFound">
	<div class="modal">
		<div class="modal-content wide t-a-center">
			<h3>Woops - There's nothing here!</h3>
			<p>Try one of these: </p>
			<div>
			<a href="/the/best" class="primary-btn best-btn">The Best</a>
			<a href="/the/worst" class="primary-btn worst-btn">The Worst</a>
			<a href="/the/funniest" class="primary-btn funniest-btn">The Funniest</a>
			<a href="/the/coolest" class="primary-btn coolest-btn">The Coolest</a>
			<a href="/the/weirdest" class="primary-btn weirdest-btn">The Weirdest</a>
			</div>
		</div>
	</div>
</template>