$headerHeight: 40px;


$primary: rgb(242, 41, 86);
$lightBlue: #55acee;
$darkBlue: #3a5795;
$red: rgb(247, 61, 61);
$orange: #EFA12A;
$green: rgb(85, 173, 61);
$purple: rgb(182, 84, 203);

$easingFunc: cubic-bezier(.3, 0.8, 0.1, 1);